{% extends "layout.html" %}

{% block content %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <main class="container recommendation-section">
    <div class="section-content">
      <h2>Get recommendation of similar places</h2>
      <a href="place_list"><u> List of Restaurant in Database</u></a>

      <form method="POST" action="/restaurant">
        {{ form.hidden_tag() }}

        <div class="form-group">
          {{ form.place_name.label }}
          
          {% if form.place_name.errors %}
            {% for error in form.place_name.errors %}
              <p class="error-message">{{ error }}</p>
            {% endfor %}
          {% endif %}

          {{ form.place_name }}
        </div>

        {{ form.submit(class="btn-primary") }}

      <div class="section-result">
        <div class="w3-row-padding">
          {% for r in results %}
            <div class="w3-third w3-container w3-margin-bottom">
            
              <a href="{{ r['url'] }}" target="_blank">
                <div class="landscape">
                <img src="{{ r['image'] }}" style="width:100%" class="w3-hover-opacity" href="{{ r['url'] }}">
                </div>
                <div class="w3-container w3-white">
                  <p class="name">{{ r['name'] }}</p>             
                </div>
              </a>
            </div>  
          {% endfor %}
        </div>
      </div>
      </form>
    </div>
  </main>
{% endblock %}